
.expenseImage{
    margin-left: 500px;
    height:500px;
    background-image: url('https://www.shutterstock.com/image-photo/white-card-text-keep-track-260nw-2136943583.jpg');
    background-repeat:no-repeat;
}