.main{
    margin:5rem auto;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    max-width: 40rem;
    height: 9rem;
    background-color: rgb(189, 132, 58);
    color:white;
    text-align: center;
 }
 .button{
     position:relative;
     bottom: -55px;
     left:-7px;
     width:130px;
     height: 30px;
     border-radius: 5px;
     border-color:rgb(212, 157, 85);
     background-color: rgb(29, 134, 134);
     color:white;
 }
 .paragraph{
     position:relative;
     bottom:-54px;
     left:-20px;
 }
 .label{
   
     position:relative;
     top: 10px;
     left:130px;
     
 }
 .input{
     position:relative;
     top: 40px;
     left:-155px;
     width:250px;
 }
 .link{
     position:relative;
     bottom: -20px;
     left:50px;
     
 }
 
 