.button {
    background-color: rgb(184, 99, 90);
    border: 1px solid rgb(116, 189, 136);
    text-align: center;
    width: 22%;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px;
    transition: background-color 1s;
}


.button:hover,
.button:focus {
    background-color: rgb(223, 252, 242);
}